body{
    background-color: aquamarine;
}
#caracteristicas{
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: beige;
}
.parrafo{
    color:green
}